/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Arial", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%;
}
/* Your Code Goes Here */
.top-menu-content {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  border-style: solid;
  border-color: black;
  background-color: #9ca5af;
  color: white;
  Font-Family: Roboto, Arial, sans-serif;
  font-size: 16px;
}
.top-menu-content .container {
  display: flex;
  justify-content: space-between;
  width: 1000px;
}
.top-menu-content .brand {
  font-size: 28px;
}
.top-menu-content nav {
  display: inline-block;
}
.top-menu-content span {
  font-size: 1.8rem;
  color: white;
}
.top-menu-content .dropdown-content {
  display: none;
}
.jumbotron {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: white;
  border-width: 2px 10px 4px 20px;
  min-height: 600px;
  background-image: url("../img/home/home-jumbotron.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}
.top-content {
  display: flex;
  justify-content: center;
  padding: 25px;
}
.card-content {
  Font-Family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 67px;
  margin: 10px;
  align-items: center;
}
.card-content > h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}
.card-content p {
  margin-bottom: 15px;
}
.card-content .button {
  border: 1px solid #222;
  padding: 15px 25px;
  width: 150px;
  font-size: 1rem;
  min-width: 160px;
}
.card {
  display: flex;
}
.card .img-right {
  order: 2;
}
.main-content-bottom {
  display: flex;
  justify-content: center;
}
.main-content-bottom h2 {
  font-size: 30px;
  padding: 10px;
}
.main-content-bottom h3 {
  font-weight: bold;
  font-size: 28px;
}
.main-content-bottom .container {
  width: 1000px;
}
.project-header {
  position: relative;
  display: flex;
  justify-content: center;
}
.project-header h3 {
  color: Black;
  position: absolute;
  display: inline-block;
  padding: 20px 30px;
  background-color: #D8D8D8;
  bottom: -13px;
  font-family: Roboto, Arial, sans-serif;
}
.project-header .right-detail {
  right: 72px;
  font-weight: 300;
}
.project-header .left-detail {
  left: 72px;
  font-weight: 300;
  color: #222;
}
.project-content {
  max-width: 500px;
  margin: 0 auto;
  padding: 75px 0;
}
.project-content > p {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.project-content p:not(:last-child) {
  margin-bottom: 20px;
}
footer {
  background: #828282;
  color: white;
}
footer .form-input {
  padding: 10px;
  width: 275px;
}
footer h4 {
  margin-bottom: 15px;
}
footer > div {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
footer > div > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 15px;
  align-self: stretch;
}
footer > div > div > p {
  line-height: 1.6rem;
  display: block;
}
footer form {
  margin: 20px 0;
}
.copyright {
  text-align: center;
}
.container-services {
  border: 10px solid black;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  font-family: 'Roboto', sans-serif;
}
.jumbotron-services {
  border: 10px solid pink;
}
.tabs-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 50px 0;
}
.tabs-link {
  border: 1px solid black;
  padding: 20px;
  font-weight: bold;
}
.tabs-link:hover {
  background-color: #222;
  color: #FFF;
}
.tabs-link-selected {
  background-color: #5E9FB9;
}
.tabs-items {
  display: flex;
  flex-direction: row;
  width: 80%;
}
