/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
.container {
  width: 1000px;
  border-style: solid;
  border-color: red;
  border-width: 2px 10px 4px 20px;
}
.top-menu-content {
  border-style: solid;
  border-color: black;
  border-width: 2px 10px 4px 20px;
}
.jumbotron {
  border-style: solid;
  border-color: green;
  border-width: 2px 10px 4px 20px;
}
.top-content {
  border-style: solid;
  border-color: pink;
  border-width: 2px 10px 4px 20px;
}
.smithJones {
  border-style: solid;
  border-color: yellow;
  border-width: 2px 10px 4px 20px;
}
.pic1 {
  border-style: solid;
  border-color: paleturquoise;
  border-width: 2px 10px 4px 20px;
}
.Futuristic {
  border-style: solid;
  border-color: purple;
  border-width: 2px 10px 4px 20px;
}
.pic2 {
  border-style: solid;
  border-color: skyblue   ;
  border-width: 2px 10px 4px 20px;
}
.main-content-bottom {
  border-style: solid;
  border-color: orange;
  border-width: 2px 10px 4px 20px;
}
.villas {
  border-style: solid;
  border-color: blue;
  border-width: 2px 10px 4px 20px;
}
.pic3 {
  border-style: solid;
  border-color: blueviolet;
  border-width: 2px 10px 4px 20px;
}
.OUTSKIRTS {
  border-style: solid;
  border-color: salmon;
  border-width: 2px 10px 4px 20px;
}
.pic4 {
  border-style: solid;
  border-color: slateblue;
  border-width: 2px 10px 4px 20px;
}
.THEBLOCKS {
  border-style: solid;
  border-color: royalblue;
  border-width: 2px 10px 4px 20px;
}
.pic5 {
  border-style: solid;
  border-color: wheat;
  border-width: 2px 10px 4px 20px;
}
.footer-content {
  border-style: solid;
  border-color: teal;
  border-width: 2px 10px 4px 20px;
}
.email {
  border-style: solid;
  border-color: blueviolet;
  border-width: 2px 10px 4px 20px;
}
.NewYork {
  border-style: solid;
  border-color: plum;
  border-width: 2px 10px 4px 20px;
}
.Florida {
  border-style: solid;
  border-color: peru;
  border-width: 2px 10px 4px 20px;
}
.California {
  border-style: solid;
  border-color: powderblue;
  border-width: 2px 10px 4px 20px;
}
.copyright {
  border-style: solid;
  border-color: palegreen;
  border-width: 2px 10px 4px 20px;
}
