/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
  display:block;
}
body{
  line-height:1;
  font-family: "Arial", sans-serif;
}
ol,ul{
  list-style:none;
}
blockquote,q{
  quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
  content:’’;
  content:none;
}
ins{
  text-decoration:none;
}
del{
  text-decoration:line-through;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

img {
  max-width: 100%;
}

/* Your Code Goes Here */

.top-menu-content {
  // width: 1000px;
  max-width: 100%;
  border-style: solid;
  border-color: black;
  border-width: 2px 10px 4px 20px;
  background-color: rgb(156, 165, 175);
  color: white;

  .container {
    display: flex;
    justify-content: space-between;
  }

  h2,
  nav {
    display: inline-block;
  }
}

.jumbotron {
  // width: 1000px;
  display: flex;
  align-items: flex-end;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  border-style: solid;
  border-color: green;
  border-width: 2px 10px 4px 20px;
  min-height: 600px;
  background-image: url("../img/home/home-jumbotron.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}

.project {
  &-header {
    position: relative;

    h3 {
      color: white;
      position: absolute;
      display: inline-block;
      padding: 20px 30px;
      background-color: gray;
      bottom: -13px;
      right: 54px;
    }
  }

  &-content {
    max-width: 500px;
    margin: 0 auto;
    padding: 75px 0;

    p:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

footer {
  h4 {
    margin-bottom: 15px;
  }

  > div {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    > div {
      padding: 10px 15px;

      > p {
        line-height: 1.6rem;
      }
    }
  }

  .copyright {
    text-align: center;
  }
}


.container {
  max-width: 1000px;
  border-style: solid;
  border-color: red;
  border-width: 2px 10px 4px 20px;
  
  .top-content {
    // width: 1000px;
    border-style: solid;
    border-color: pink;
    border-width: 2px 10px 4px 20px;
  }

  .card {
    display: flex;
  
    .img-right {
      order: 2;
    }
  }
  
  
  .main-content-bottom {
    // width: 1000px;
    border-style: solid;
    border-color: orange;
    border-width: 2px 10px 4px 20px;
  }
  
  .villas {
    // width: 1000px;
    border-style: solid;
    border-color: blue;
    border-width: 2px 10px 4px 20px;
  }
  
  .pic3 {
    // width: 1000px;
    border-style: solid;
    border-color: blueviolet;
    border-width: 2px 10px 4px 20px;
  }
  
  .OUTSKIRTS {
    // width: 1000px;
    border-style: solid;
    border-color: salmon;
    border-width: 2px 10px 4px 20px;
  }
  
  .pic4 {
    // width: 1000px;
    border-style: solid;
    border-color: slateblue;
    border-width: 2px 10px 4px 20px;
  }
  
  .THEBLOCKS {
    // width: 1000px;
    border-style: solid;
    border-color: royalblue;
    border-width: 2px 10px 4px 20px;
  }
  
  .pic5 {
    // width: 1000px;
    border-style: solid;
    border-color: wheat;
    border-width: 2px 10px 4px 20px;
  }
  
  .footer-content {
    // width: 1000px;
    border-style: solid;
    border-color: teal;
    border-width: 2px 10px 4px 20px;
  }
  
  .email {
    // width: 1000px;
    border-style: solid;
    border-color: blueviolet;
    border-width: 2px 10px 4px 20px;
  }
  
  .NewYork {
    // width: 1000px;
    border-style: solid;
    border-color: plum;
    border-width: 2px 10px 4px 20px;
  }
  
  .Florida {
    // width: 1000px;
    border-style: solid;
    border-color: peru;
    border-width: 2px 10px 4px 20px;
  }
  
  .California {
    // width: 1000px;
    border-style: solid;
    border-color: powderblue;
    border-width: 2px 10px 4px 20px;
  }
  
  .copyright {
    // width: 1000px;
    border-style: solid;
    border-color: palegreen;
    border-width: 2px 10px 4px 20px;
  }


}
